
.navbar {
    background-color: #333;
    padding: 1rem;
}

.navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navItem {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navItem:hover {
    background-color: #555;
    border-radius: 5px;
}

.navButton {
    background: none;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.navButton:hover {
    background-color: #555;
    border-radius: 5px;
}
