
.navbar {
    background-color: rgba(45, 110, 108, 0.9);;
    padding: 1.5rem;
}

.navList {
    list-style: none;
    display:flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navItem {
    color: #dddddd;
    text-decoration: inherit;
    padding: 0.5rem 6rem;
}

.navItem:hover {
    background-color: #343937;
    border-radius: 50px;
}

.navButton {
    background: none;
    border: 1px solid transparent;
    color: #fff;
    padding: 5rem 3rem;
    cursor: pointer;
}

.navButton:hover {
    background-color: #555;
    border-radius: 5px;
}
